/* Mobile First index.html Styling */

#statement {
  text-indent: 3%;
}

#profile-pic {
  display: block;
  padding-block-end: 2%;
  margin-inline: auto;
}

/* Desktop index.html Styling */

@media screen and (min-width: 769px) {
  
  #statement {
    padding-block-start: 1%;
  }

  #profile-pic {
    display: block;
    padding-block-start: 2%;
    padding-block-end: 3%;
    margin-inline: auto;
  }

}
