/* Custom Fonts */

@font-face {
    font-family: 'vollkorn_sc';
    src: url('../fonts/vollkornsc-black-webfont.woff2') format('woff2'),
         url('../fonts/vollkornsc-black-webfont.woff') format('woff');
    font-weight: black;
    font-style: normal;

}

@font-face {
    font-family: 'vollkorn_sc';
    src: url('../fonts/vollkornsc-bold-webfont.woff2') format('woff2'),
         url('../fonts/vollkornsc-bold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;

}

@font-face {
    font-family: 'vollkorn_sc';
    src: url('../fonts/vollkornsc-regular-webfont.woff2') format('woff2'),
         url('../fonts/vollkornsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vollkorn_sc';
    src: url('../fonts/vollkornsc-semibold-webfont.woff2') format('woff2'),
         url('../fonts/vollkornsc-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

/* Mobile First General Styling */

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  text-align: center;
}

img {
  max-width: 100%;
}

header {
  font-family: vollkorn_sc, serif;
  font-weight: bold;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid black;
  padding-block: 2%;
  padding-inline: 2%;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

header a.mobile {
  width: 50%;
}

#hamburger-input {
  display: none;
}
  
#hamburger-menu {
  width: 15%;
  line-height: 0;
  background: linear-gradient(
    to bottom,
    #fff, #fff 15%,
    #262626 15%, #262626 29%,
    #fff 29%, #fff 43%,
    #262626 43%, #262626 57%,
    #fff 57%, #fff 71%,
    #262626 71%, #262626 85%,
    #fff 85%, #fff 100%
  );
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  width: 80vw;
  height: 100%;
  transition: 0.1s;
  position: fixed;
  top: 0;
  left: 0;
  line-height: calc(1rem + 10vw);
  background-color: #fff;
  font-size: calc(1rem + 3.5vw);
  text-align: left;
  padding-inline-start: 10%;
  border: 1px solid black;
}

header ul {
  padding-inline-start: 0;
  list-style-type: none;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: black;
}

a:hover {
  filter: contrast(20%);
}

a:active {
  filter: contrast(20%) drop-shadow(0.2rem 0.2rem 0.1rem lightcyan);
}

.desktop {
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-inline: 2%;
}

/* Desktop General Styling */

@media screen and (min-width: 769px) {

  header {
    display: revert;
    padding-block: 1%;
  }

  #main-menu div {
    display: flex;
  }

  #main-menu ul {
    flex: 1;
    margin-block: 0;
  }

  #main-menu .logo {
    max-width: 70%;
    display: block;
  }

  #main-menu ul:nth-child(2) {
    font-size: calc(1rem + 1.5vw);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #main-menu ul:nth-child(2) li {
    padding-inline-start: 6%;
  }
  
  #main-menu li a {
    display: block;
  }

  .desktop {
    display: revert;
  }

  .mobile {
    display: none;
  }

}
