/* Custom Fonts */

@font-face {
    font-family: 'vollkorn_sc';
    src: url('../fonts/vollkornsc-black-webfont.woff2') format('woff2'),
         url('../fonts/vollkornsc-black-webfont.woff') format('woff');
    font-weight: black;
    font-style: normal;

}

@font-face {
    font-family: 'vollkorn_sc';
    src: url('../fonts/vollkornsc-bold-webfont.woff2') format('woff2'),
         url('../fonts/vollkornsc-bold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;

}

@font-face {
    font-family: 'vollkorn_sc';
    src: url('../fonts/vollkornsc-regular-webfont.woff2') format('woff2'),
         url('../fonts/vollkornsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vollkorn_sc';
    src: url('../fonts/vollkornsc-semibold-webfont.woff2') format('woff2'),
         url('../fonts/vollkornsc-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

/* Mobile First General Styling */

html {
  font-size: 10px;
}

body {
  font-size: calc(1rem + 0.8vw);
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid black;
  padding-block: 2%;
  padding-inline: 2%;
  text-transform: uppercase;
}

header a.mobile {
  width: 65%;
}

#hamburger-input {
  display: none;
}
  
#hamburger-menu {
  margin-inline-end: 2%;
  width: 12%;
  line-height: 0;
  background: linear-gradient(
    to bottom,
    transparent, transparent 15%,
    DarkSlateGray 15%, DarkSlateGray 29%,
    transparent 29%, transparent 43%,
    DarkSlateGray 43%, DarkSlateGray 57%,
    transparent 57%, transparent 71%,
    DarkSlateGray 71%, DarkSlateGray 85%,
    transparent 85%, transparent 100%
  );
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  width: 80vw;
  height: 100%;
  transition: 0.1s;
  position: fixed;
  top: 0;
  left: 0;
  line-height: calc(1rem + 10vw);
  background-color: #fff;
  font-size: calc(1rem + 3.5vw);
  text-align: left;
  padding-inline-start: 10%;
  border: 1px solid black;
  overflow: auto;
}

header ul {
  padding-inline-start: 0;
  list-style-type: none;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
}

#hamburger-input:checked + #hamburger-menu {
  background: linear-gradient(
    45deg,
    transparent, transparent 45%,
    DarkSlateGray 45%, DarkSlateGray 55%,
    transparent 55%, transparent 100%
  ),
              linear-gradient(
    135deg,
    transparent, transparent 45%,
    DarkSlateGray 45%, DarkSlateGray 55%,
    transparent 55%, transparent 100%
  );
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: black;
}

a:hover {
  filter: contrast(50%) drop-shadow(0.1rem 0.1rem 0.06rem DarkSlateGray);
}

a:active {
  filter: contrast(20%);
}

.desktop {
  display: none;
}

main {
  padding-inline: 3%;
  text-align: justify;
  letter-spacing: 0.06em;
  line-height: 1.3;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 6%;
  border-top: 1px solid black;
}

footer p {
  padding: 1%;
}

header,
h1,
h2,
h3 {
  font-family: vollkorn_sc, serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.3rem;
}

h1,
h2,
h3 {
  font-size: calc(1rem + 4vw);
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}

.block {
  display: block;
}

/* Desktop General Styling */

@media screen and (min-width: 769px) {

  header {
    display: revert;
    padding-block: 1%;
  }

  main {
    padding-inline: 10%;
  }

  #main-menu div {
    display: flex;
  }

  #main-menu ul {
    flex: 1;
    margin-block: 0;
  }

  #main-menu #logo-desktop {
    max-width: 70%;
  }

  #main-menu ul:nth-child(2) {
    font-size: calc(1rem + 1.5vw);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #main-menu ul:nth-child(2) li {
    padding-inline-start: 6%;
  }
  
  footer {
    padding-inline: 2%;
  }

  .desktop {
    display: revert;
  }

  .mobile {
    display: none;
  }

}
