/* Mobile First Resume Styling */

#resume {
  margin-block-start: 4%;
  margin-inline: auto;
  border: 1px solid black;
}

#resume-download {
  margin-block-end: 4%;
  text-align: center;
}
  
#resume-download a:link {
  color: blue;
}

#resume-download a:visited {
  color: purple;
}

#resume-download a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 769px) {

  #resume {
    margin-block-start: 3%;
    margin-inline: auto;
  }

  #resume-download {
    margin-block-end: 3%;
  }
}
